<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans          
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd                 
       http://www.springframework.org/schema/context                      
       http://www.springframework.org/schema/context/spring-context-2.5.xsd        http://www.springframework.org/schema/tx        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
   
   <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
      <property name="dataSourceName" value="ds"/>
      <property name="URL" value="jdbc:oracle:thin:@localhost:1521:XE"/>
      <property name="user" value="system"/>
      <property name="password" value="Raziel01"/>
   </bean>
   
   <bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
      <property name="dataSource" ref="dataSource"/>
   </bean>
   
   <bean id="transactionManager"
         class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource"/>
   </bean>
   <!--tx:annotation-driven/-->
   <!--context:component-scan base-package="mx.gob.nafinsa.conciliaciones"/-->
</beans>



