<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
 <!--Spring Bean definitions go here-->
  <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
        <property name="dataSourceName" value="ds"/>
        <property name="URL" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="user" value="webapp"/>
        <property name="password" value="webapp"/>
 </bean>  
 
 <bean id="ejemploDAO" class="mx.unam.ssi.sgc.webapp.persistence.EjemploDAOImpl">
    <property name="template" ref="template"/>
 </bean>
 
</beans>
